Codigo/DigiEncuesta/DigiEncuesta.App/Service References/Proxy/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DigiEncuesta.Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DigiEncuesta.Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EntidadEncuestador">
    <xs:sequence>
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntidadEncuestador" nillable="true" type="tns:EntidadEncuestador" />
</xs:schema>